*{
    font-family: 'Abril Fatface', cursive;
}
body{
    background-color: #581845;
}
h1{
    text-align: center;
    color:#af0b0b;
    background-color:#900c3f ;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0rem;
}
img{
    margin: 1rem;
}

