html{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}
body{
    background-color: #efefef;
}

header{
    background-color: #041352;
    color: #ffff;
    padding: 2rem 2rem;

}
header h1 {
    font-size: 3rem;
    text-align: center;
}
main img{
    transition: box-shadow 0.3s ease;
    background-color: #ffff;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 0.95rem 0;
}

main img:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.30);
}